body {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  line-height: 1;
  background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
  background: -moz-linear-gradient(to right, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
}

.jumbotron {
text-align: center;
text-shadow: 15px 15px 2px rgb(22, 23, 27);
background: -webkit-linear-gradient(left, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
background: -moz-linear-gradient(to right, #0f182b 0%,#2a3b53 33%,#2a3b53 66%,#0f182b 100%);
color: rgb(235, 43, 43);
}

hr {
background-color:#0f182b;
height:10px;
width:50%;
border-radius: 15px;
box-shadow:0px 0px 20px rgb(229, 228, 233); 
}
a { 
color: red;
}

p {
font-size:.5em;
text-align: center;
color: white ;
}

h3 {
color:white;
}

.swiper-container {
width: 100%;
padding-top: 25px;
padding-bottom: 50px;

}

.imgBx {
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}

.swiper-slide {
background-position: center;
background-size: cover;
width: 300px;
height: 400px;
background:#0f182b;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
box-shadow:0px 0px 20px rgb(220, 218, 230); 

}

.swiper-slide .imgBx {
width: 100%;
height: 200px;
overflow: hidden;
}

.swiper-slide .imgBx img {
width: 100%;
}

.swiper-slide .details {
box-sizing: border-box;
padding: 20px;
}

.swiper-slide .details h3 {
margin:0;
padding: 0;
font-size: 20px;
text-align: center;
}

@media screen and (max-width: 600px) {
ul.topnav li.right,
ul.topnav li {float: none;}
}

span {
color:red;
}

.icons{
  text-align:center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    background-color: red;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #e9ecf3; */
  color: red;
  text-align: center;
  font-size:.5em;
  
}
span{
  color:white;
}


.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.fas fa-home{
  color: red;
}